@import "../../styles/App.scss";

.navbarMobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 90vh;
        background: $color-3;
        position: fixed;
        top: 68px;
        right: 0;
        z-index: 10000;
        border-bottom-left-radius: 25px;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    // .toggle {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     cursor: pointer;
    //     z-index: 1000;
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     border: none;
    //     position: absolute;
    //     top: 1rem;
    //     right: 2rem;
    //     z-index: 2000;
    //     background: transparent;

    //     @media screen and (min-width: 768px) {
    //         display: none;
    //     }

    //     .line {
    //         stroke: $color-7;
    //     }
    // }
}