@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;400;600;800;900&family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Rubik+Broken+Fax&family=Teko:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


$font-1: 'DM Sans', sans-serif;
$font-2: 'Inter', sans-serif;
$font-3: 'Lora', serif;
$font-4: 'Playfair Display', serif;
$font-5: 'Rubik Broken Fax', sans-serif;
$font-6: 'Teko', sans-serif;
$font-7: 'Work Sans', sans-serif;
$font-8: 'Dancing Script', cursive;

$color-1: #060417;
$color-2: #ffffff;
$color-3: #a993fe;
$color-4: #7e61e7;
$color-5: #342864;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
  transition: all .3s ease;
}

body {
  background-color: $color-1;
  color: $color-2;
}