@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,1000&family=Dancing+Script:wght@400;500;600;700&family=Fira+Code:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Rubik:wght@500;600;700;800;900&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

$font-DM-Sans: 'DM Sans', sans-serif;
$font-Dancing-Script: 'Dancing Script', cursive;
$font-Fira-Code: 'Fira Code', monospace;
$font-Playfair-Display: 'Playfair Display', serif;
$font-Rubik: 'Rubik', sans-serif;
$font-Whisper: 'Whisper', sans-serif;
$font-Shrikhand: 'Shrikhand', cursive;
$font-Syne: 'Syne', cursive;



$color-0: #1D1D1B;
$color-1: #000000;
$color-2: #2E2E2E;
$color-3: #A06929;
$color-4: #FFD300;
$color-5: #FBBF24;
$color-6: #D3D3D3;
$color-7: #ffffff;
$color-8: #Ffffff40;
$color-9: rgba(0, 0, 0, 0.9);
$color-10: #FBBF24;
$color-11: #0B0C10;
$color-12: #0a0420;
// $color-0: #251101;
// $color-1: #0D0628;
// $color-2: #231D3C;
// $color-3: #EFA00B;
// $color-4: #FE4A49;
// $color-5: #009FB7;
// $color-6: #E0D3DE;
// $color-7: #ffffff;
// $color-8: #ffffff09;
// $color-9: rgba(0, 0, 0, 0.5);
// $color-10: rgba(0, 159, 183, 1);

// $color-0: #0B0C10;
// $color-1: #121e2b;
// $color-2: #162536;
// $color-3: #F21137;
// $color-4: #79031D;
// $color-5: #17E9E0;
// $color-6: #E0E5E9;
// $color-7: #ffffff;
// $color-8: #ffffff09;
// $color-9: rgba(0, 0, 0, 0.5);
// $color-10: rgba(23, 233, 223, 0.8);


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  color-scheme: dark light;
  font-family: $font-DM-Sans;
  background-color: $color-1;
  color: $color-4;
  // min-height: 100dvh;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

// main {
//     position: relative;
// }

section {
  // scroll-snap-align: center;
  min-height: 100dvh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  min-height: 100dvh;
  // scroll-snap-align: center;
}

.btn-1 {
  background: $color-3;
  color: $color-7;

  &:hover {
    color: $color-3;
  }
}

.btn-2 {
  background: $color-7;
  color: $color-3;

  &:hover {
    color: $color-7;
  }
}

.btn-3 {
  background: $color-5;
  color: $color-1;

  &:hover {
    color: $color-7;
  }
}

.btn-4 {
  background: $color-1;
  color: $color-7;

  &:hover {
    color: $color-1;
  }
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  line-height: 40px;
  width: 100%;
  max-width: max-content;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: clamp(0.95rem, 3vw, 1.1rem);
  font-weight: 600;
  z-index: 2;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 5px $color-9;
  transition: all 0.3s ease;
}

.btn-1::before {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-7;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s;
  z-index: -1;
}

.btn-1:hover::before {
  top: 0;
  border-radius: 0;
}


.btn-2::before {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-3;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s;
  z-index: -1;
}

.btn-2:hover::before {
  top: 0;
  border-radius: 0;
}

.btn-3::before {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-1;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s;
  z-index: -1;
}

.btn-3:hover::before {
  top: 0;
  border-radius: 0;
}

.btn-4::before {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-5;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s;
  z-index: -1;
}

.btn-4:hover::before {
  top: 0;
  border-radius: 0;
}